<h1>Coaching Answer</h1>

<div class='conversation-box'>
  <p class='saying'><%= @myquestion %></p>
  <p class='who'> - You </p>


  <p class='saying'><%= @coach_answer %></p>
  <p class='who'> - Your coacher </span></p>

</div>

<div class='footer'>
  <%= link_to 'Ask a new question', ask_path %>
</div>



