<div class="panel panel-default">
  <div class="panel-heading">
    List of coktails <small> <span id="notice"><%= notice %></span></small>
  </div>
  <div class="panel-body">
    <%= render 'list_cocktails' %>
    <a href="/cocktails/new" type="button" class="btn btn-primary pull-right" aria-label="Left Align">
      <span class="glyphicon glyphicon glyphicon-glass" aria-hidden="true"></span> New cocktail
    </a>
  </div>
</div>

