
<div class='row text-center navigation'>
  <div class="btn-group">
    <a class="btn btn-primary btn-lg" href="/audioplayer" role="button">Audio</a>
    <a class="btn btn-primary btn-lg" href="/videoplayer" role="button">Video</a>
  </div>
</div>